packrat/lib*/
packrat
.Rproj.user
.Rhistory
.Rprofile
cytoplot.Rproj
inst/doc
cytochalasin_b_10_Week1_22123_B04_Actin.jpg
cytochalasin_b_10_Week1_22123_B04_DAPI.jpg
cytochalasin_b_10_Week1_22123_B04_Tubulin.jpg
